@model AdminViewModel

<h5>Assign a new role to a user:</h5>
<form asp-action=AddUserToRole method="post">
    <label asp-for="SelectedUser">User</label>
    <select asp-for="SelectedUser" asp-items="Model.UserDropdown" class="form-control">
        <option value="">Select user</option>
    </select>
    <span asp-validation-for="SelectedUser" class="text-danger"></span><br />
    
    <label asp-for="SelectedRole">Role</label>
    <select asp-for="SelectedRole" asp-items="Model.RoleDropdown" class="form-control">
        <option value="">Select role</option>
    </select>
    <span asp-validation-for="SelectedRole" class="text-danger"></span><br />
    <input type="submit" value="Submit" />
</form>
<br />

<div>
    @Html.ValidationMessage("RoleAlreadyExists")
</div>

<h5>Create role:</h5>
<form asp-action="CreateRole" method="post">
    <label asp-for="NewRole">New Role</label>
    <input asp-for="NewRole" class="form-control" />
    <span asp-validation-for="NewRole" class="text-danger"></span><br />
    <input type="submit" value="Submit" />
</form>
<br />


@if (Model != null)
{
    <h2 id="users">Users</h2>
    <table id="UsersTable">
        <thead id="thead">
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>

                <th>User roles</th>
            </tr>
        </thead>
        <tbody id="tbody">
            @foreach (var user in Model.Users)
            {
                if (user.EmailConfirmed == true)
                {
                    <tr>
                        <td>@user.Name</td>
                        <td>@user.Surname</td>
                        <td>@user.Email</td>
                        <td>@user.RolesAsString</td>
                    </tr>
                }
            }
        </tbody>
    </table>
}