@model CarViewModel

@if (User.IsInRole("Admin"))
{
    <form asp-action="OpenAddCar" method="get">
        <input class="btn btn-outline-dark" type="submit" value="Add Car" />
    </form>
    <br />
}

<form asp-controller="Search" asp-action="Index" method="get">
    <input class="btn btn-outline-primary" type="submit" value="Search" />
</form>
<br />

@*<h2 id="cars">Cars</h2>*@

<div>
    @Html.ValidationMessage("NoCarFoundMessage")
    @Html.ValidationMessage("NoCarsAdded")
</div>

<div class="container">
    <div class="row">

        @if (Model != null && Model.Cars != null && Model.Cars.Any())
        {
            @foreach (var car in Model.Cars.OrderByDescending(r => r.Availability).ThenBy(r => r.DailyPrice).ThenBy(r => r.Brand))
            {
                <div class="col-3">
                    <div class="card-deck" id="Cars">
                        <div class="card" id="tbody">

                            <img src="@car.ImagePath" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">@car.Brand.Brand @car.Model.Model</h5>
                                <p class="card-text">@car.DailyPrice EUR/day</p>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col">
                                        <form asp-action="OpenCar" method="get">
                                            <button class="btn btn-outline-primary col-12" type="submit">More Info</button>
                                            @Html.Hidden("CarId", car.Id)
                                        </form>
                                    </div>
                                    @if (car.Availability != false)
                                    {
                                        <div class="col">
                                            <form asp-controller="Reservation" asp-action="AddReservation" method="get">
                                                <button class="btn btn-outline-primary col-12" type="submit">Rent</button>
                                                @Html.Hidden("CarId", car.Id)
                                            </form>
                                        </div>
                                    }
                                    else
                                    {
                                        <br /><br />
                                        <p>This car is currently not available for reservation!</p> 
                                    }
                                </div>
                                @if (User.IsInRole("Admin"))
                                {
                                    <hr />
                                    <div class="row">
                                        <div class="col">
                                            <form asp-action="Edit" method="get">
                                                <button class="btn btn-outline-dark col-12" type="submit">Edit</button>
                                                @Html.Hidden("CarId", car.Id)
                                            </form>
                                        </div>
                                        <div class="col">
                                            <form asp-action="Delete" method="post">
                                                <button class="btn btn-outline-dark col-12" type="submit" onclick="return confirm('Are you sure you want to delete?')">Delete</button>
                                                @Html.Hidden("CarId", car.Id)
                                                @Html.Hidden("Feedbacks", car.Feedbacks)
                                            </form>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>