@model CarViewModel

<form asp-action="OpenAddCar" method="get">
    <input type="submit" value="Add Car" />
</form>
<br />

<form asp-controller="Search" asp-action="Index" method="get">
    <input type="submit" value="Search" />
</form>
<br />

<div>
    @Html.ValidationMessage("NoCarFoundMessage")
</div>


@if (Model != null && Model.Cars != null && Model.Cars.Any())
{
    <h2 id="cars">Cars</h2>
    <table id="CarsTable">
        <thead id="thead">
            <tr>
                <th>Brand</th>
                <th>Model</th>
                <th>Image</th>
                <th>Open</th>
                <th>Rent</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody id="tbody">
            @foreach (var car in Model.Cars)
            {
                <tr>
                    <td>@car.Brand.Brand</td>
                    <td>@car.Model.Model</td>
                    <td><img src="@car.ImagePath" class="img-fluid" width="200"></td>
                    <td>
                        <form asp-action="OpenCar" method="get">
                            <input type="submit" value="Open" />
                            @Html.Hidden("CarId", car.Id)
                        </form>
                    </td>
                    <td>
                        <form asp-controller="Reservation" asp-action="AddReservation" method="get">
                            <input type="submit" value="Rent" />
                            @Html.Hidden("CarId", car.Id)
                        </form>
                    </td>
                    <td>
                        <form asp-action="Edit" method="get">
                            <input type="submit" value="Edit" />
                            @Html.Hidden("CarId", car.Id)
                        </form>
                    </td>
                    <td>
                        <form asp-action="Delete" method="post">
                            <input type="submit" value="Delete" />
                            @Html.Hidden("CarId", car.Id)
                            @Html.Hidden("Feedbacks", car.Feedbacks)
                        </form>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}