@model ReservationViewModel

@if (Model != null && Model.Reservations.Length > 0)
{
    <h2 id="AllUserReservations">All Reservations</h2>
    <table id="AllUserReservationsTable">
        <thead id="thead">
            <tr>
                <th>User</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>Car Brand</th>
                <th>Car Model</th>
                <th>Open</th>
                <th>Cancel</th>
            </tr>
        </thead>
        <tbody id="tbody">
            @foreach (var reservation in Model.Reservations)
            {
                <tr>
                    <td>@reservation.User.Email</td>
                    <td>@reservation.StartDate</td>
                    <td>@reservation.EndDate</td>
                    <td>@reservation.Car.Brand.Brand</td>
                    <td>@reservation.Car.Model.Model</td>
                    <td>
                        <form asp-action="OpenReservation" method="get">
                            <input type="submit" value="Open" />
                            @Html.Hidden("ReservationId", reservation.Id)
                        </form>
                    </td>
                    <td>
                        <form asp-action="DeleteReservationAdmin" method="post">
                            <input type="submit" value="Cancel" />
                            @Html.Hidden("ReservationId", reservation.Id)
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}