@model ReservationViewModel

@if (Model != null && Model.Reservations.Length > 0)
{
    <h2 id="AllUserReservations">All Reservations</h2>
    <table class="table" id="AllUserReservationsTable">
        <thead class="thead-light" id="thead">
            <tr>
                <th scope="col">User</th>
                <th scope="col">StartDate</th>
                <th scope="col">EndDate</th>
                <th scope="col">Car Brand</th>
                <th scope="col">Car Model</th>
                <th scope="col">Payment Date</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody id="tbody">
            @foreach (var reservation in Model.Reservations)
            {
                <tr scope="row">
                    <td>@reservation.User.Email</td>
                    <td>@reservation.StartDate</td>
                    <td>@reservation.EndDate</td>
                    <td>@reservation.Car.Brand.Brand</td>
                    <td>@reservation.Car.Model.Model</td>
                    @if (reservation.Payment.Date.HasValue)
                    {
                        <td>@reservation.Payment.Date.Value</td>
                    }
                    else
                    {
                        <td>-</td>
                    }
                    <td>
                        <form asp-action="OpenReservationAdmin" method="get">
                            <input type="submit" value="Open" />
                            @Html.Hidden("ReservationId", reservation.Id)
                        </form>
                    </td>
                    <td>
                        <form asp-action="DeleteReservationAdmin" method="post">
                            <input type="submit" value="Cancel" onclick="return confirm('Are you sure you want to cancel this reservation?')" />
                            @Html.Hidden("ReservationId", reservation.Id)
                        </form>
                    </td>
                    @if (!reservation.Payment.Date.HasValue)
                    {
                        <td>
                            <form asp-action="AddPaymentDate" method="get">
                                <input type="submit" value="Add Payment Date" />
                                @Html.Hidden("ReservationId", reservation.Id)
                            </form>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>
        <p>There aren't any reservations!</p>
    </div>
}