@model ReservationViewModel

@if (Model != null && Model.Reservations.Length > 0)
{
    <h2 id="UserReservations">My Reservations</h2>
    <table class="table" id="UserReservationsTable">
        <thead class="thead-light" id="thead">
            <tr>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Car Brand</th>
                <th scope="col">Car Model</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody id="tbody">
            @foreach (var reservation in Model.Reservations.OrderBy(r => r.StartDate).ThenBy(r => r.EndDate))
            {
                if (reservation.User.Id == Model.UserId)
                {
                    <tr scope="row">
                        <td>@reservation.StartDate</td>
                        <td>@reservation.EndDate</td>
                        <td>@reservation.Car.Brand.Brand</td>
                            <td>@reservation.Car.Model.Model</td>
                        <td>
                            <form asp-action="OpenReservation" method="get">
                                <input type="submit" value="Open" />
                                @Html.Hidden("ReservationId", reservation.Id)
                            </form>
                        </td>
                        <td>
                            <form asp-action="DeleteReservation" method="post">
                                <input type="submit" value="Cancel" onclick="return confirm('Are you sure you want to cancel this reservation?')" />
                                @Html.Hidden("ReservationId", reservation.Id)
                            </form>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
else
{
    <div>
        <p>You don't have any reservations!</p>
    </div>
}